@model InovaAcceso.Models.GestionTurno

@{
    ViewData["Title"] = "Editar Asignación";
}

<div class="container-fluid px-4 mt-4">

    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active">Editar Asignación de Turno</li>
    </ol>
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <form asp-controller="GestionTurno" asp-action="editarAsignacionTurno" method="post">
                <div class="mb-3">
                    <input class="form-control" asp-for="IdGestionTurno" hidden />
                </div>
                <div class="mb-3">
                    <label>Persona</label>
                    <select class="form-control" asp-for="IdPersona" asp-items="@(ViewBag.Personas as SelectList)">
                        <option value="">Seleccione una persona</option>
                    </select>
                    <span asp-validation-for="IdPersona" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label>Turno</label>
                    <select class="form-control" asp-for="IdTurno" asp-items="@(ViewBag.Turnos as SelectList)">
                        <option value="">Seleccione un turno</option>
                    </select>
                    <span asp-validation-for="IdTurno" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label>Fecha Inicio</label>
                    <input class="form-control" asp-for="FechaInicio" type="date" />
                    <span asp-validation-for="FechaInicio" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label>Fecha Fin</label>
                    <input class="form-control" asp-for="FechaFin" type="date" />
                    <span asp-validation-for="FechaFin" class="text-danger"></span>
                </div>
                <!-- Botones de Acción -->
                <div class="d-flex justify-content-center gap-2">
                    <!-- Botón Guardar Cambios -->
                    <button type="submit"
                            class="btn btn-sm"
                            style="background-color: #2b8fc8; border-color: #2b8fc8; color: white; display: flex; align-items: center; justify-content: center; padding: 6px 12px;">
                        <i class="bi bi-save me-1"></i> Guardar
                    </button>

                    <!-- Botón Volver -->
                    <a asp-controller="GestionTurno" asp-action="listaAsignacionTurno"
                       class="btn btn-sm"
                       style="background-color: #574da7; border-color: #574da7; color: white; display: flex; align-items: center; justify-content: center; padding: 6px 12px;">
                        <i class="bi bi-arrow-left-circle me-1"></i> Volver
                    </a>
                </div>

            </form>
        </div>
    </div>
</div>
