
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VistaParaPDFProductividad</title>
    <h1>holi</h1>

</head>
<body>
</body>
</html>
