@model InovaAcceso.Models.Turno;
@{
    ViewData["Title"] = "Editar Turno";
}

<div class="container-fluid px-4 mt-4">

    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active">Editar Turno</li>
    </ol>
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <form asp-controller="Turno" asp-action="EditarTurno" method="post">
                <div class="mb-3">
                    <input class="form-control" asp-for="IdTurno" type="hidden" />
                </div>
                <div class="mb-3">
                    <label>Nombre Turno</label>
                    <input class="form-control" asp-for="NombreTurno" type="text" />
                </div>
                <div class="mb-3">
                    <label>Hora Ingreso</label>
                    <input class="form-control" required asp-for="HoraIngreso" type="time" />
                </div>
                <div class="mb-3">
                    <label>Hora Slida</label>
                    <input class="form-control" required asp-for="HoraSalida" type="time" />
                </div>
                <div class="mb-3">
                    <label>Tolerancia en Minutos</label>
                    <input class="form-control" asp-for="ToleranciaMinutos" type="number" />
                </div>
                <div class="mb-3">
                    <label>Horas del Turno</label>
                    <input class="form-control" asp-for="HorasTurno" type="number" />
                </div>
                <div class="mb-3">
                    <label>Fecha Creacion</label>
                    <input class="form-control" asp-for="FechaCreacion" type="datetime" readonly />
                </div>
                <div class="mb-3">
                    <label>Fecha Creacion</label>
                    <input class="form-control" asp-for="FechaModificacion" type="datetime" readonly value="@DateTime.Now" />
                </div>

                <div class="mb-3">
                    <label>Responsable Modificacionn</label>
                    <input class="form-control" asp-for="ResponsableModificacion" type="text" readonly/>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">Guardar</button>
                    <a asp-controller="Turno" asp-action="ListaTurnos" class="btn btn-warning">Volver</a>
                </div>
            </form>
        </div>
    </div>
</div>
