@{
    ViewData["Title"] = "Editar Cargo";
}
@model InovaAcceso.Models.Cargo;
<div class="container-fluid px-4 mt-4">
    
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active">Editar Cargo</li>
    </ol>
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <form asp-controller="Cargo" asp-action="EditarCargo" method="post">
                <div class="mb-3">
                    <input class="form-control" asp-for="IdCargo" hidden />
                </div>
                <div class="mb-3">
                    <label>Nombre Cargo</label>
                    <input class="form-control" asp-for="NombreCargo" type="text" />
                </div>
                <div class="mb-3">
                    <label>Fecha Creacion</label>
                    <input class="form-control" asp-for="FechaCreacion" type="datetime" readonly />
                </div>
                <div class="mb-3">
                    <label>Fecha Modificacion</label>
                    <input class="form-control" asp-for="FechaModificacion" type="datetime" readonly value="@DateTime.Now" />
                </div>
                <div class="mb-3">
                    <label>Responsable Modificacion</label>
                    <input class="form-control" asp-for="ResponsableModificacion" type="datetime" readonly value="Admin" />
                </div>
                <!-- Botones de Acción -->
                <div class="d-flex justify-content-center gap-2">
                    <!-- Botón Guardar Cambios -->
                    <button type="submit"
                            class="btn btn-sm"
                            style="background-color: #2b8fc8; border-color: #2b8fc8; color: white; display: flex; align-items: center; justify-content: center; padding: 6px 12px;">
                        <i class="bi bi-save me-1"></i> Guardar
                    </button>

                    <!-- Botón Volver -->
                    <a asp-controller="Cargo" asp-action="ListaCargo"
                       class="btn btn-sm"
                       style="background-color: #574da7; border-color: #574da7; color: white; display: flex; align-items: center; justify-content: center; padding: 6px 12px;">
                        <i class="bi bi-arrow-left-circle me-1"></i> Volver
                    </a>
                </div>


            </form>
        </div>
    </div>
</div>