@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Privacy Polic</h1>

    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
    </ol>
    <p>Use this page to detail your site's privacy policy.</p>
</div>